@page "/"
@layout LandingPageLayout

<PageTitle>Cookulon - Programmed to Cook with SecretIngredient == Love</PageTitle>

<div class="page row">
    <div class="col-4 ">
        <div class="text-center">
            <h1 class="text-success">COOKULON</h1>
            <h3 class="text-success">SecretIngredient == Love</h3>
        </div>
        <div>
            <main class="landingPage">
                <div class="text-start d-flex justify-content-center">
                    <a href="/createmeal" class="btn btn-success btn-lg">Execute Cooking </a>
                </div>
            </main>
        </div>
        <footer class="d-flex justify-content-center text-success">
            &copy; Brent Cleary
        </footer>
    </div>
    <div class="col-4"></div>
    <div class="col-4"></div>

</div>