@page "/"
@layout LandingPageLayout

<PageTitle>Cookulon - Programmed to Cook with SecretIngredient == Love</PageTitle>

<div class="container align-items-center text-center">

    <div class="row align-items-center w-100">

        <div class="col-4 align-items-b">

            <div class="text-center">
                <h1 class="text-success m-3 text-center">COOKULON</h1>
                <h3 class="text-success">SecretIngredient == Love</h3>
            </div>

            <div class="row m-5">
                <main class="landingPage">
                    <div class="text-start d-flex justify-content-center">
                        <a href="/createmeal" class="btn btn-success btn-lg">Execute Cooking </a>
                    </div>
                </main>
            </div>

            <footer class="row m-5 d-flex justify-content-center text-success">
                &copy; Brent Cleary
            </footer>

        </div>
        <div class="col-8">
            <img class="img-fluid object-fit-contain w-100" src="/images/Front-Page-Robot.png"/>
        </div>
    </div>

</div>