@page "/mealRecipe"
@using Cookulon.Shared
@using System.Text.Json

@inject HttpClient Http;
@inject NavigationManager Navigation;

<div class="container mt-5">

    <h1>Meal Time</h1>

</div>

@code {

}
