<div class="h-100 d-flex flex-column align-items-center justify-content-center">
    <div class="text-center">
        <div class="text-center d-flex align-items-center justify-content-evenly" height="30px">
            <h1 width="50%">PREPAIRING MEAL...</h1>
            <div width="50%" height="25">
                <div class="loader"></div>
            </div>
        </div>
        @* pulls a random picture from the kitchenPictures list *@
        <img class="rounded-2" src="@kitchenPictures[RandomKitchenPictureIndex(kitchenPictures)]" height="500" />
    </div>

</div>


@code {

    // Create a List of image addresses from the root/images/kitchenpictures file
    private List<string> kitchenPictures = new()
    {
        "/images/KitchenPictures/RobotKitchen1.jpg",
        "/images/KitchenPictures/RobotKitchen2.jpg",
        "/images/KitchenPictures/RobotKitchen3.jpg",
        "/images/KitchenPictures/RobotKitchen4.jpg",
        "/images/KitchenPictures/RobotKitchen5.jpg",
        "/images/KitchenPictures/RobotKitchen6.jpg",
        "/images/KitchenPictures/RobotKitchen7.jpg",
        "/images/KitchenPictures/RobotKitchen8.jpg",
        "/images/KitchenPictures/RobotKitchen9.jpg",
        "/images/KitchenPictures/RobotKitchen10.jpg",
        "/images/KitchenPictures/RobotKitchen11.jpg",
        "/images/KitchenPictures/RobotKitchen12.jpg",
        "/images/KitchenPictures/RobotKitchen13.jpg"
    };

    // return a random index number from the list to be the image source
    private int RandomKitchenPictureIndex(List<string> pictureIndex)
    {
        // Initialize Random class
        Random random = new();

        // Assign the random image as the image src
        int kitchenPicIndex = random.Next(0, (pictureIndex.Count - 1) );

        return kitchenPicIndex;
    }





}